 {{!-- si quieren cambiar el layout : {{!< layouts/main}}   --}}


<h2>Productos actualizados Socket</h2>
<div id="idProducts"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script> 